apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: kube-vip
  namespace: kube-system
spec:
  containers:
    - args:
        - start
      env:
        - name: vip_arp
          value: "true"
        - name: vip_interface
          value: ens34
        - name: vip_leaderelection
          value: "true"
        - name: vip_leaseduration
          value: "5"
        - name: vip_renewdeadline
          value: "3"
        - name: vip_retryperiod
          value: "1"
        - name: vip_address
          value: 172.16.18.243
      image: plndr/kube-vip:0.2.3
      imagePullPolicy: Always
      name: kube-vip
      resources: { }
      volumeMounts:
        - mountPath: /etc/kubernetes/
          name: kubeconfig
          readOnly: true
      securityContext:
        capabilities:
          add:
            - NET_ADMIN
            - SYS_TIME
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  volumes:
    - hostPath:
        path: /etc/kubernetes/
        type: DirectoryOrCreate
      name: kubeconfig
status: { }
